# Auto detect text files and perform LF normalization
* text=auto

# Windows scripts and solution files
*.ps1 text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf
*.sln text eol=crlf
*.slnx text eol=crlf
*.iss text eol=crlf

# Source code files
*.cs text diff=csharp eol=lf
*.csproj text eol=lf
*.js text eol=lf
*.cjs text eol=lf
*.html text eol=lf
*.css text eol=lf
*.json text eol=lf
*.md text eol=lf

# Binary files
*.ico binary
*.jpg binary
*.jpeg binary
*.png binary
*.webp binary
*.dll binary
*.exe binary
